.App {
   text-align: center;
}

body {
   margin: 0;
   overflow: hidden;
   background-image: url('../public/cool-background.png');
   position: relative;
   height: 100vh;
   animation: stars 300s linear infinite; 
 }

 